body{
    font-size: 14px;
    font-weight: 200;
}

h5, h6{
    font-style: italic;
}

.navbar-brand, .nav-link{
    font-size: 16px;
    font-weight: bolder;
    text-transform: uppercase;
}

.textgeneral{
    position: absolute;
    width: 299px;
    top: 50px;
    left: 100px;
}

.cardconcert1{
    position: absolute;
    width: 320px;
    height: 370px;
    top: 70px;
    left: 100px;
}

.cardconcert2{
    position: absolute;
    width: 320px;
    height: 370px;
    top: 70px;
    left: 50px;
}

.textnewfilms{
    position: absolute;
    width: 299px;
    top: 480px;
    left: 100px;
}

.cardfilm1{
    position: absolute;
    width: 320px;
    height: 330px;
    top: 500px;
    left: 100px;
}

.cardfilm2{
    position: absolute;
    width: 320px;
    height: 300px;
    top: 500px;
    left: 50px;
}

.textnews{
    position: absolute;
    width: 299px;
    top: 50px;
    left: 30px;
}

.listnewsclass{
    position: absolute;
    width: 350px;
    top: 85px;
    left: 30px;
}

.listencharttext{
    position: absolute;
    width: 299px;
    top: 10px;
}

.chartrussia{
    position: absolute;
    width: 320px;
    height: 170px;
    top: 90px;
    left: 100px;
}

.chartword{
    position: absolute;
    width: 320px;
    height: 170px;
    top: 90px;
    left: 500px;
}

.userliked{
    position: absolute;
    width: 384px;
    height: 170px;
    left: 900px;
    top: 90px;
}

.test3{
    background-color: #eeeeee;
    height: 200px;
}

.receivemailtext{
    font-size: smaller;
}

  .exmpl {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .exmpl img {
    min-width: 50%;
    min-height: 50%;
  }